li{
	height:50px;
}
.topnav {
    font-size: 14px;
}


.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-brand{
	    width: 200px;
    height: 100px;
    margin-left: 100px;
    padding-top: 50px;
    display: inline-block;
}