li{
	height:400px;
}
.listContent{
    width: 80%;
}
.topnav {
    font-size: 14px;
}
.summary{
    margin-top: 10px;
    margin-bottom: 30px;
}
.post{
    width:300px;
    height:350px;
    margin-right:50px;
    display:inline-block;
    position: relative;
        float: left;
    /*width: 50%!important;*/
    margin-bottom: 50px!important;
}
.title{
    width:350px;
    height:54px;
}
.time {
    color: #b0b0ad;
    margin-bottom: 10px;
}
.image{
    width:250px;
    height:150px;
}
.listimage{
    width:100%;
    height:100%;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-brand{
	    width: 200px;
    height: 100px;
    margin-left: 100px;
    padding-top: 50px;
    display: inline-block;
}
#header{position:relative;padding:0;margin:0 0 40px 0!important;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.home #header{text-align:center}
#header{background-color:#222}
#header .inside{padding:20px 30px 20px 30px;margin:0 auto!important;max-width:1020px!important;position:relative;z-index:200}
#header a{color:rgba(255,255,255,.5);font-weight:normal;-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;transition:.5s}
#mainNav .tinynav{display:none}
#header #logo{display:inline-block;float:left;padding-top:5px}
#logo img{width:100%}
#logo h1,#logo h3{margin:0!important;line-height:1em!important;padding:0!important;font-size:1.5em;font-weight:bold;color:#555}
#header h1 a,#header h1 a:hover,#header h3 a,#header h3 a:hover{color:#555!important}
#header .bottom .inside #navSidebar .ttrustSocial li{margin-right:10px!important}
#header .ttrustSocial{float:left;margin:0!important;padding:0;margin-top:-35px!important}
#header .widget_search{float:right!important;margin:0 65px 0 10px!important}
#header .widget_search #s{background:#3c3c3c;border:0;margin-top:-3px;color:#7e7e7e;border:none!important;float:left}


styles.css:81
#header .right {
    margin-right: 20px;
}
.widget_search{display:block;padding:0!important}
.widget_search h3{display:none}
.widget_search:after{content:" ";display:block;clear:both;visibility:hidden;line-height:0;height:0}
html[xmlns] .widget_search{display:block}
* html .widget_search{height:1%}
#header .widget_search #s{background:#3c3c3c;border:0;margin-top:-3px;color:#7e7e7e;border:none!important;float:left}
#s{
    height: 30px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 11px system-ui;
    border-radius: 5px;
    padding: 5px;
}
